---
- name: Ensure Snapd installed.
  become: true
  ansible.builtin.package:
    name: snapd
    state: latest

- name: Install Snap packages.
  become: true
  community.general.snap:
    name: "{{ item.name | default(item) }}"
    classic: "{{ item.classic | default(true) }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ snap_packages }}"
  when: snap_packages is defined
